<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <gazebo>
    <!-- PR2_ACTARRAY -->
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
    </controller:gazebo_ros_controller_manager>

    <!-- battery controls -->
    <controller:gazebo_ros_battery name="gazebo_ros_battery_controller" plugin="libgazebo_ros_battery.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <timeout>5</timeout>
      <default_consumption_rate>-10.0</default_consumption_rate> <!-- -5 is the magic number, need to be smaller than that CM -->
      <diagnostic_rate>1.0</diagnostic_rate>
      <battery_state_rate>10.0</battery_state_rate> <!-- does nothing for now-->
      <full_charge_energy>1200000.0</full_charge_energy>
      <diagnosticTopicName>diagnostic</diagnosticTopicName>
      <stateTopicName>battery_state</stateTopicName>
      <selfTestServiceName>self_test</selfTestServiceName>
      <interface:audio name="battery_dummy_interface" />
    </controller:gazebo_ros_battery>
  </gazebo>

</robot>
