<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:macro name="pr2_forearm_gazebo" params="side">

    <gazebo reference="${side}_forearm_link">
      <turnGravityOff>true</turnGravityOff>
      <sensor:contact name="${side}_forearm_contact_sensor">
        <geom>${side}_forearm_link_geom</geom>
        <updateRate>100.0</updateRate>
        <controller:ros_bumper name="${side}_forearm_ros_bumper_controller" plugin="libros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${side}_forearm_bumper</bumperTopicName>
          <interface:bumper name="${side}_forearm_ros_bumper_iface" />
        </controller:ros_bumper>
      </sensor:contact>
      <material value="PR2/Blue" />
    </gazebo>

    <!-- Wrist flex -->

    <gazebo reference="${side}_wrist_flex_link">
      <turnGravityOff>true</turnGravityOff>
      <sensor:contact name="${side}_wrist_flex_contact_sensor">
        <geom>${side}_wrist_flex_link_geom</geom>
        <updateRate>100.0</updateRate>
        <controller:ros_bumper name="${side}_wrist_flex_ros_bumper_controller" plugin="libros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${side}_wrist_flex_bumper</bumperTopicName>
          <interface:bumper name="${side}_wrist_flex_ros_bumper_iface" />
        </controller:ros_bumper>
      </sensor:contact>
      <material value="PR2/Grey" />
    </gazebo>
    <gazebo reference="${side}_wrist_flex_joint">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
    </gazebo>

    <!-- Wrist roll -->

    <gazebo reference="${side}_wrist_roll_link">
      <turnGravityOff>true</turnGravityOff>
      <sensor:contact name="${side}_wrist_roll_contact_sensor">
        <geom>${side}_wrist_roll_link_geom</geom>
        <updateRate>100.0</updateRate>
        <controller:ros_bumper name="${side}_wrist_roll_ros_bumper_controller" plugin="libros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${side}_wrist_roll_bumper</bumperTopicName>
          <interface:bumper name="${side}_wrist_roll_ros_bumper_iface" />
        </controller:ros_bumper>
      </sensor:contact>
      <material value="PR2/RollLinks" />
    </gazebo>
    <gazebo reference="${side}_wrist_roll_joint">
      <fudgeFactor value="0.5" />
    </gazebo>

  </xacro:macro>

</robot>
                                               
