<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="pr2_shoulder_gazebo_v0" params="side">

    <!-- Shoulder pan -->
    <gazebo reference="${side}_shoulder_pan_link">
      <sensor:contact name="${side}_shoulder_pan_contact_sensor">
        <geom>${side}_shoulder_pan_link_geom</geom>
        <updateRate>100.0</updateRate>
        <controller:gazebo_ros_bumper name="${side}_shoulder_pan_gazebo_ros_bumper_controller" plugin="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${side}_shoulder_pan_bumper</bumperTopicName>
          <interface:bumper name="${side}_shoulder_pan_gazebo_ros_bumper_iface" />
        </controller:gazebo_ros_bumper>
      </sensor:contact>
      <material value="PR2/Blue" />
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${side}_shoulder_pan_joint">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
    </gazebo>

    <!-- Shoulder lift -->
    <gazebo reference="${side}_shoulder_lift_link">
      <sensor:contact name="${side}_shoulder_lift_contact_sensor">
        <geom>${side}_shoulder_lift_link_geom</geom>
        <updateRate>100.0</updateRate>
        <controller:gazebo_ros_bumper name="${side}_shoulder_lift_gazebo_ros_bumper_controller" plugin="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${side}_r_shoulder_lift_bumper</bumperTopicName>
          <interface:bumper name="${side}_shoulder_lift_gazebo_ros_bumper_iface" />
        </controller:gazebo_ros_bumper>
      </sensor:contact>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${side}_shoulder_lift_joint">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
    </gazebo>
  </xacro:macro>

  <!-- Upperarm roll: internal fixed attchment point for upper arm -->
  <xacro:macro name="pr2_upper_arm_roll_gazebo_v0" params="side" >
    <gazebo reference="${side}_upper_arm_roll_link">
      <material value="PR2/RollLinks" />
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${side}_upper_arm_roll_joint">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
      <fudgeFactor value="0.5" />
    </gazebo>
  </xacro:macro>
</robot>
