<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!-- Alpha 2.0 head -->
  <!-- Different calibration values, effort/position limits and 
       different joint link positions -->
  <macro name="pr2_head_pan_alpha2_transmission" params="name">
    <transmission type="SimpleTransmission" name="${name}_trans">
      <actuator name="${name}_motor" />
      <joint name="${name}_joint" />
      <mechanicalReduction>6.0</mechanicalReduction>
    </transmission>
  </macro>

  <!-- Reverts to small tilt motor, still has same cal flags and limits -->
  <macro name="pr2_head_tilt_alpha2_transmission" params="name">
    <transmission type="SimpleTransmission" name="${name}_trans">
      <actuator name="${name}_motor" /> <!-- Alpha 1.0 motor -->
      <joint name="${name}_joint" />
      <mechanicalReduction>6.0</mechanicalReduction>
    </transmission>
  </macro>


  <macro name="pr2_head_tilt_alpha2a_transmission" params="name">
    <!-- Motor must be configured with 148877 motor -->
    <transmission type="SimpleTransmission" name="${name}_trans">
      <actuator name="${name}_motor_alpha2a" />
      <joint name="${name}_joint" />
      <mechanicalReduction>6.0</mechanicalReduction>
    </transmission>
  </macro>

  <macro name="pr2_head_tilt_alpha2b_transmission" params="name">
    <transmission type="SimpleTransmission" name="${name}_trans">
      <!-- Motor must be configured with 310009 motor with large gearhead -->
      <actuator name="${name}_motor_alpha2b" />
      <joint name="${name}_joint" />
      <mechanicalReduction>6.0</mechanicalReduction>
    </transmission>
  </macro>

</robot>
