<?xml version="1.0"?>

<!-- XML namespaces -->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!-- TODO - include component files -->
  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
  <include filename="$(find pr2_defs)/defs/arm/arm_gazebo.xacro" />
  <include filename="$(find pr2_defs)/defs/arm/arm_transmission.xacro" />
  
<!-- ============================   Arm   ============================ -->

  <!-- Now we can finally define the arm itself. -->

  <macro name="pr2_arm" params="side parent reflect *origin">
    <!-- This is a common convention, to use a reflect parameter that equals +-1 to distinguish left from right -->

    <pr2_shoulder side="${side}" reflect="${reflect}" parent="${parent}">
      <insert_block name="origin" />
    </pr2_shoulder>
    <pr2_upper_arm side="${side}" reflect="${reflect}" parent="${side}_upper_arm_roll_link" />
    <pr2_forearm side="${side}" reflect="${reflect}" parent="${side}_forearm_roll_link" />

    <!-- gazebo -->
    <pr2_shoulder_gazebo side="${side}" />
    <pr2_upper_arm_gazebo side="${side}" />
    <pr2_forearm_gazebo side="${side}" />

    <!-- transmission -->
    <pr2_shoulder_transmission side="${side}" />
    <pr2_upper_arm_transmission side="${side}" />
    <pr2_forearm_transmission side="${side}" />
  </macro>


</robot>
