<?xml version="1.0"?>
<robot>
  <!-- Solid Base for visualizer -->
  <joint name="base_joint" type="fixed">
    <parent link="world" />
    <origin xyz="0 0 0" rpy="0 0 0" /> 
    <child link="base_link" />
  </joint>
  
  <link name="base_link">
    <inertial>
      <mass value="1000" />
      <origin xyz=" 0 0 0 " /> 
      <inertia ixx="1000" ixy="0" ixz="0" iyy="1000" iyz="0" izz="1000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0 " /> 
      <geometry name="pr2_base_mesh_file">
        <box size=".01 .01 .01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0 " />
      <geometry name="base_collision_geom">
        <box size=".01 .01 .01" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link" >
    <material>Gazebo/White</material>
  </gazebo>
</robot>
