<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <macro name="pr2_shoulder_transmission" params="side">

    <!-- Shoulder pan -->
    <transmission type="SimpleTransmission" name="${side}_shoulder_pan_trans">
      <actuator name="${side}_shoulder_pan_motor" />
      <joint name="${side}_shoulder_pan_joint" />
      <mechanicalReduction>${63.16/cal_r_shoulder_pan_gearing}</mechanicalReduction>
    </transmission>

    <!-- Shoulder lift -->
    <transmission type="SimpleTransmission" name="${side}_shoulder_lift_trans">
      <actuator name="${side}_shoulder_lift_motor" />
      <joint name="${side}_shoulder_lift_joint" />
      <mechanicalReduction>${61.89/cal_r_shoulder_lift_gearing}</mechanicalReduction>
    </transmission>

    <!-- Upperarm roll: internal fixed attchment point for upper arm -->
    <transmission type="SimpleTransmission" name="${side}_upper_arm_roll_trans">
      <actuator name="${side}_upper_arm_roll_motor" />
      <joint name="${side}_upper_arm_roll_joint" />
      <mechanicalReduction>${32.65/cal_r_upper_arm_roll_gearing}</mechanicalReduction>
    </transmission>

  </macro>



  <!-- ============================   Upper Arm   ============================ -->


  <macro name="pr2_upper_arm_transmission" params="side">

    <!-- Elbow flex -->

    <transmission type="SimpleTransmission" name="${side}_elbow_flex_trans">
      <actuator name="${side}_elbow_flex_motor" />
      <joint name="${side}_elbow_flex_joint" />
      <mechanicalReduction>-36.17</mechanicalReduction>
    </transmission>

    <!-- Forearm roll -->

    <transmission type="SimpleTransmission" name="${side}_forearm_roll_trans">
      <actuator name="${side}_forearm_roll_motor" />
      <joint name="${side}_forearm_roll_joint" />
      <mechanicalReduction>-${576/25*55/14}</mechanicalReduction>
    </transmission>

  </macro>


  <!-- ============================   Forearm   ============================ -->

  <macro name="pr2_forearm_transmission" params="side">

    <!-- Wrist flex , Wrist roll -->

    <transmission type="WristTransmission" name="${side}_wrist_trans">
      <rightActuator name="${side}_wrist_r_motor" mechanicalReduction="${624/35*54/16}" />
      <leftActuator name="${side}_wrist_l_motor"  mechanicalReduction="${624/35*54/16}" />
      <flexJoint name="${side}_wrist_flex_joint"  mechanicalReduction="-1.0" />
      <rollJoint name="${side}_wrist_roll_joint"  mechanicalReduction="1.0" />
    </transmission>

  </macro>



</robot>
