<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <macro name="mono_cam_gazebo" params="name">
    <gazebo reference="${name}_frame">
      <sensor:camera name="${name}_sensor">
        <imageSize>640 480</imageSize>
        <imageFormat>L8</imageFormat>
        <hfov>90</hfov>
        <nearClip>0.1</nearClip>
        <farClip>100</farClip>
        <updateRate>20.0</updateRate>
        <controller:ros_camera name="${name}_controller" plugin="libros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>20.0</updateRate>
          <topicName>${name}/image</topicName>
          <frameName>${name}_frame</frameName>
          <interface:camera name="${name}_iface" />
        </controller:ros_camera>
      </sensor:camera>
      <turnGravityOff>true</turnGravityOff>
      <material>PR2/Blue</material>
    </gazebo>
    <gazebo reference="${name}_optical_frame">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
  </macro>

</robot>
