<?xml version="1.0"?>
<!-- This is a hand-made URDF XACRO file for the Microsoft Kinect-2 sensor (Xbox ONE) -->
<!-- Copyright Universitaet Bremen - Instititute for Artificial Intelligence. Author: Alexis Maldonado -->
<!-- License: GPLv3+ -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kinect2">

  <xacro:macro name="kinect2_xacro" params="name parent *origin">

    <material name="Kinect2Grey">
      <color rgba="0.15 0.15 0.15 1.0"/>
    </material>


    <!-- Joint connecting the parent to our frame_in -->
    <joint name="${name}_kinect2_in_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_kinect2_rgb_optical_frame"/>
    </joint>

    <!-- Kinect2 camera frame -->
    <link name="${name}_kinect2_rgb_optical_frame">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <!-- these meshes were exported in mm, so scale back to m -->
          <mesh filename="package://pr2_description/meshes/sensors/kinect2_v0/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Kinect2Grey"/>
      </visual>
    </link>

    <!-- sensor frames - not sure how different from Kinect2 they are (from original Kinect) -->

    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0.0 -0.045 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame"/>
    </joint>

    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2.0} 0.0 ${-M_PI/2.0}"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>

    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0.0 -0.02 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${name}_link"/>
      <child link="${name}_depth_frame"/>
    </joint>

    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2.0} 0.0 ${-M_PI/2.0}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>

    <link name="${name}_depth_optical_frame"/>

  </xacro:macro>
</robot>
