<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">
  
<xacro:macro name="kinect_ir_gazebo_v0" params="link_name frame_name camera_name">
  <gazebo reference="${link_name}">
    <sensor:camera name="${name}_sensor">
      <imageFormat>L8</imageFormat>
      <imageSize>640 480</imageSize>
      <hfov>57</hfov>
      <nearClip>0.01</nearClip>
      <farClip>5</farClip>
      <updateRate>1.0</updateRate>
      <baseline>0.2</baseline>
      <controller:gazebo_ros_depth_camera name="${link_name}_controller" plugin="libgazebo_ros_depth_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1.0</updateRate>
        <imageTopicName>/${camera_name}/ir/image_raw</imageTopicName>
        <cameraInfoTopicName>/${camera_name}/ir/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/${camera_name}/depth/image_raw</depthImageTopicName>
        <depthImageInfoTopicName>/${camera_name}/depth/camera_info</depthImageInfoTopicName>
        <pointCloudTopicName>/${camera_name}/depth/points</pointCloudTopicName>
        <frameName>${frame_name}</frameName>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
      </controller:gazebo_ros_depth_camera>
    </sensor:camera>
    <material value="Gazebo/Red" />
  </gazebo>
</xacro:macro>

<xacro:macro name="kinect_rgb_gazebo_v0" params="link_name frame_name camera_name">
  <gazebo reference="${link_name}">
    <sensor:camera name="${name}_sensor">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>640 480</imageSize>
      <hfov>57</hfov>
      <nearClip>0.01</nearClip>
      <farClip>5</farClip>
      <updateRate>1.0</updateRate>
      <baseline>0.2</baseline>
      <controller:gazebo_ros_depth_camera name="${link_name}_controller" plugin="libgazebo_ros_depth_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1.0</updateRate>
        <imageTopicName>/${camera_name}/rgb/image_raw</imageTopicName>
        <cameraInfoTopicName>/${camera_name}/rgb/camera_info</cameraInfoTopicName>
        <pointCloudTopicName>/${camera_name}/rgb/points</pointCloudTopicName>
        <frameName>${frame_name}</frameName>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
      </controller:gazebo_ros_depth_camera>
    </sensor:camera>
    <material value="Gazebo/Red" />
  </gazebo>
</xacro:macro>

<xacro:macro name="kinect_prosilica_gazebo" params="joint_name link_name">
  <gazebo>
    <controller:gazebo_ros_srp name="${link_name}_srp_controller" plugin="libgazebo_ros_srp.so">
      <bodyName>${link_name}</bodyName>
      <jointName>${joint_name}</jointName>
      <topicName>${link_name}</topicName>
    </controller:gazebo_ros_srp>
  </gazebo>
  <!-- also add transmission for this sliding joint -->
      <transmission type="pr2_mechanism_model/SimpleTransmission" name="${joint_name}_trans">
      <actuator name="${joint_name}_motor" />
      <joint name="${joint_name}" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
</xacro:macro>

<xacro:macro name="prosilica_cam_gazebo_v1" params="link_name frame_name camera_name ">
  <gazebo reference="${link_name}">
    <sensor:camera name="${link_name}_sensor">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>320 240</imageSize>
      <hfov>64.2</hfov>
      <nearClip>0.1</nearClip>
      <farClip>100</farClip>
      <updateRate>1.0</updateRate>
      <controller:gazebo_ros_prosilica name="${link_name}_controller" plugin="libgazebo_ros_prosilica.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1.0</updateRate>
        <cameraName>${camera_name}_1mb</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <pollServiceName>request_image</pollServiceName>
        <frameName>${frame_name}</frameName>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </controller:gazebo_ros_prosilica>
    </sensor:camera>
    <sensor:camera name="${link_name}_sim_pcd_sensor">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>320 240</imageSize>
      <hfov>64.2</hfov>
      <nearClip>0.1</nearClip>
      <farClip>100</farClip>
      <updateRate>1.0</updateRate>
      <controller:gazebo_ros_depth_camera name="${link_name}_sim_pcd_controller" plugin="libgazebo_ros_depth_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1.0</updateRate>
        <cameraName>${camera_name}_1mb_sim_pcd</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>${frame_name}</frameName>
      </controller:gazebo_ros_depth_camera>
    </sensor:camera>
    <material value="Gazebo/Red" />
  </gazebo>
</xacro:macro>

</root>

