<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!-- this macro is used for creating wide and narrow double stereo camera in simulation -->
  <xacro:macro name="stereo_camera_gazebo" params="name focal_length hfov">
    
    <gazebo reference="${name}_link">
      <material value="PR2/Blue" />
    </gazebo>

    <gazebo reference="${name}_optical_frame">
      <material value="PR2/Blue" />
    </gazebo>

    <gazebo reference="${name}_l_stereo_camera_frame">
      <sensor:camera name="${name}_l_sensor">
        <imageSize>640 480</imageSize>
        <imageFormat>L8</imageFormat>
        <!-- 90 for wide and 45 for narrow stereo camera-->
        <hfov>${hfov}</hfov>
        <nearClip>0.1</nearClip>
        <farClip>100</farClip>
        <updateRate>20.0</updateRate>
        <controller:ros_camera name="${name}_l_controller" plugin="libros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>20.0</updateRate>
          <topicName>${name}/left_image</topicName>
          <frameName>${name}_l_stereo_camera_frame</frameName>
          <interface:camera name="${name}_l_iface" />
        </controller:ros_camera>
      </sensor:camera>
      <material value="PR2/Blue" />
    </gazebo>

    <gazebo reference="${name}_r_stereo_camera_frame">
      <sensor:camera name="${name}_r_sensor">
        <imageSize>640 480</imageSize>
        <imageFormat>L8</imageFormat>
        <hfov>${hfov}</hfov>
        <nearClip>0.1</nearClip>
        <farClip>100</farClip>
        <updateRate>20.0</updateRate>
        <controller:ros_camera name="${name}_r_controller" plugin="libros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>20.0</updateRate>
          <topicName>${name}/right_image</topicName>
          <frameName>${name}_r_stereo_camera_frame</frameName>
          <interface:camera name="${name}_r_iface" />
        </controller:ros_camera>
      </sensor:camera>
      <material value="PR2/Blue" />
    </gazebo>


    <!-- stereo plugin that produces a raw_stereo message -->
    <gazebo> <!-- this is not attached to any link!!!, there no reference -->
      <controller:ros_stereo_camera name="${name}_controller" plugin="libros_stereo_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>20.0</updateRate>
        <leftCamera>${name}_l_sensor</leftCamera>
        <rightCamera>${name}_r_sensor</rightCamera>
        <topicName>${name}/raw_stereo</topicName>
        <frameName>${name}_optical_frame</frameName>
        <CxPrime>320</CxPrime>
        <Cx>320</Cx>
        <Cy>240</Cy>
        <!-- image_width / (2*tan(hfov_radian /2)) -->
        <!-- 320 for wide and 772.55 for narrow stereo camera -->
        <focal_length>${focal_length}</focal_length>
        <distortion_k1>0</distortion_k1>
        <distortion_k2>0</distortion_k2>
        <distortion_k3>0</distortion_k3>
        <distortion_t1>0</distortion_t1>
        <distortion_t2>0</distortion_t2>
        <baseline>${stereo_dy}</baseline> <!-- home pos. of robot has +x forward, +y left -->
        <interface:stereocamera name="${name}_iface" />
      </controller:ros_stereo_camera>
    </gazebo>

  </xacro:macro>

</robot>
