<?xml version="1.0"?>
<robot>
  
  <include filename="$(find pr2_description)/urdf/sensors/wge100.gazebo.xacro" />
  <xacro:macro name="wge100_camera" params="name parent *origin">

    <joint name="${name}_frame_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_frame"/>
    </joint>
    <link name="${name}_frame">

      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001"  ixy="0.0"  ixz="0.0"
                 iyy="0.001"  iyz="0.0"
                 izz="0.001" />
      </inertial>

      <visual name="${name}_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry name="${name}_visual_geom">
          <box size="0.01 0.01 0.01" />
        </geometry>
      </visual>

      <collision name="${name}_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry name="${name}_collision_geom">
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
      <parent link="${name}_frame" />
      <child link="${name}_optical_frame"/>
    </joint>
    <link name="${name}_optical_frame">


      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001"  ixy="0.0"  ixz="0.0"
                 iyy="0.001"  iyz="0.0"
                 izz="0.001" />
      </inertial>

      <visual name="${name}_optical_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry name="${name}_optical_visual_geom">
          <box size="0.01 0.01 0.01" />
        </geometry>
      </visual>

      <collision name="${name}_optical_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry name="${name}_optical_collision_geom">
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
    </link>

    <!-- extensions -->
    <xacro:wge100_camera_gazebo name="${name}" />

  </xacro:macro>

</robot>
