<?xml version="1.0"?>
<robot name="pr2"
       xmlns:xi="http://www.w3.org/2001/XInclude"
       xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
       xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
       xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics">

  <!-- Include file with calibration parameters -->
  <include filename="$(find pr2_defs)/calibration/default_cal.xml" />

  <!-- declare the path where all models/textures/materials are stored -->
  <resource type="stl_meshes" location="$(find pr2_defs)/meshes"/>
  <resource type="ogre"       location="$(find pr2_ogre)/Media/models"/>

  <include filename="$(find pr2_defs)/defs/arm/arm_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/gripper/gripper_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/gazebo/gazebo_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/materials.urdf.xacro" />

  <pr2_arm side="l" reflect="1" parent="torso_lift_link">
    <origin xyz="0.0 0.0 1.0" rpy="0 0 0" />
  </pr2_arm>
  <pr2_gripper side="l" parent="l_wrist_roll_link"
               screw_reduction="${2.0/1000.0}" gear_ratio="${29.16}"
               theta0="${2.97571*M_PI/180.0}"
               phi0="${29.98717*M_PI/180.0}"
               t0="${-0.19543/1000.0}"
               L0="${34.70821/1000.0}"
               h="${5.200/1000.0}"
               a="${67.56801/1000.0}"
               b="${48.97193/1000.0}"
               r="${91.50000/1000.0}" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </pr2_gripper>

  <!-- Solid Base -->
  <link name="torso_lift_link">
    <inertial>
      <mass value="1000" />
      <origin xyz="0 0 0" />
      <inertia ixx="1000"  ixy="0"  ixz="0" iyy="1000" iyz="0" izz="1000" />
    </inertial> 
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0 " />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="torso_lift_link">
    <material>PR2/White</material>
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <kp>10000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

  <!-- fixed joint to the world for simulation -->
  <gazebo>
    <joint:hinge name="base_fixed_joint">
      <body1>world</body1>
      <body2>torso_lift_link</body2>
      <anchor>torso_lift_link</anchor>
      <lowStop>0</lowStop>
      <highStop>0</highStop>
      <axis>0 0 1</axis>
    </joint:hinge>
  </gazebo>

</robot>
