 <robot name="laser_tilt_test"
        xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint">
  
  <include filename="$(find pr2_defs)/defs/materials.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/head/head_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/body/body_defs.urdf.xacro" />

  <pr2_torso name="torso_lift" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </pr2_torso>

  <pr2_tilting_laser name="laser_tilt" parent="torso_lift_link" laser_calib_ref="-0.35">
    <origin xyz="0 0 0.03" rpy="0 0 0" />
  </pr2_tilting_laser>

  <!-- Base -->
  <link name="base_link">
    <inertial>
      <mass value="100" />
      <origin xyz="0 0 1" />
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="1000" iyz="0" izz="1000" />
    </inertial> 
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>

  <gazebo>
    <!-- fixed joint to the world for simulation -->
    <joint:hinge name="base_fixed_joint">
      <body1>world</body1>
      <body2>base_link</body2>
      <anchor>base_link</anchor>
      <lowStop>0</lowStop>
      <highStop>0</highStop>
      <axis>0 1 0</axis>
    </joint:hinge>
  </gazebo>

</robot>
