 <robot name="laser_tilt_test">
  
  <include filename="$(find pr2_defs)/defs/materials.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/head/head_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/body/body_defs.urdf.xacro" />

  <pr2_torso name="torso_lift" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </pr2_torso>

  <pr2_tilting_laser name="laser_tilt" parent="torso_lift_link" laser_calib_ref="-0.35">
    <origin xyz="0 0 0.03" rpy="0 0 0" />
  </pr2_tilting_laser>

</robot>
