<?xml version="1.0"?>
<robot name="pr2"
       xmlns:xi="http://www.w3.org/2001/XInclude"
       xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
       xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
       xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics">

  <!-- Include file with calibration parameters -->
  <include filename="$(find pr2_defs)/calibration/default_cal.xml" />
  
  <!-- declare the path where all models/textures/materials are stored -->
  <resource type="stl_meshes" location="$(find pr2_defs)/meshes"/>
  <resource type="ogre"       location="$(find pr2_ogre)/Media/models"/>

  <include filename="$(find pr2_defs)/defs/arm/arm_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/gripper/gripper_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/gazebo/gazebo_defs.urdf.xacro" />
  <include filename="$(find pr2_defs)/defs/materials.urdf.xacro" />

  <pr2_forearm side="r" reflect="1" parent="base_link"/>
  <pr2_gripper screw_reduction="${2.0/1000.0}" gear_ratio="${29.16}" side="r" parent="r_wrist_roll_link" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </pr2_gripper>

  <!-- Base -->
  <link name="base_link"><!-- link specifying the base of the robot -->
    <inertial>
      <mass value="1000" />
      <origin xyz="0 0 0" /> <!-- position of the center of mass with respect to the link's own anchor in a local coordinate frame -->
      <inertia ixx="1000"  ixy="0"  ixz="0" iyy="1000" iyz="0" izz="1000" />
    </inertial> 
    <visual>
      <origin xyz="0 0 -1" rpy="0 0 0" /> <!-- location defined with respect to the link origin in a local coordinate frame -->
      <!-- All angles always in radians, yaw about Z axis, pitch about the Y axis and roll about the X axis -->
      <geometry>
        <box size="20 20 0.01" />
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 -1" rpy="0.0 0.0 0.0" /> <!-- default box is centered at the origin -->
      <!-- All angles always in radians, yaw about Z axis, pitch about the Y axis and roll about the X axis -->
      <geometry>
        <box size="20 20 0.01" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>PR2/White</material>
  </gazebo>
  <gazebo>
    <!-- gazebo_ros_p3d for position groundtruth -->
    <controller:gazebo_ros_p3d name="p3d_r_gripper_palm_controller" plugin="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <bodyName>r_gripper_palm_link</bodyName>
      <topicName>r_gripper_palm_pose_ground_truth</topicName>
      <frameName>map</frameName>
      <interface:position name="p3d_r_gripper_palm_position"/>
    </controller:gazebo_ros_p3d>
  </gazebo>


</robot>
