<launch>
    <!-- send pr2 urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2_dae.urdf.xacro'" />

    <!-- stl meshes -->
    <param name="robot_meshes/base_v0/caster.stl" binfile="$(find pr2_description)/meshes/base_v0/caster.stl" />
    <param name="robot_meshes/base_v0/caster_L.stl" binfile="$(find pr2_description)/meshes/base_v0/caster_L.stl" />
    <param name="robot_meshes/base_v0/base_L.stl" binfile="$(find pr2_description)/meshes/base_v0/base_L.stl" />
    <param name="robot_meshes/forearm_v0/forearm.stl" binfile="$(find pr2_description)/meshes/forearm_v0/forearm.stl" />
    <param name="robot_meshes/forearm_v0/wrist_flex.stl" binfile="$(find pr2_description)/meshes/forearm_v0/wrist_flex.stl" />
    <param name="robot_meshes/forearm_v0/wrist_roll.stl" binfile="$(find pr2_description)/meshes/forearm_v0/wrist_roll.stl" />
    <param name="robot_meshes/forearm_v0/wrist_roll_L.stl" binfile="$(find pr2_description)/meshes/forearm_v0/wrist_roll_L.stl" />
    <param name="robot_meshes/gripper_v0/l_finger.stl" binfile="$(find pr2_description)/meshes/gripper_v0/l_finger.stl" />
    <param name="robot_meshes/gripper_v0/l_finger_tip.stl" binfile="$(find pr2_description)/meshes/gripper_v0/l_finger_tip.stl" />
    <param name="robot_meshes/gripper_v0/gripper_palm.stl" binfile="$(find pr2_description)/meshes/gripper_v0/gripper_palm.stl" />
    <param name="robot_meshes/head_v0/head_pan_L.stl" binfile="$(find pr2_description)/meshes/head_v0/head_pan_L.stl" />
    <param name="robot_meshes/head_v0/head_tilt_L.stl" binfile="$(find pr2_description)/meshes/head_v0/head_tilt_L.stl" />
    <param name="robot_meshes/shoulder_v0/shoulder_pan.stl" binfile="$(find pr2_description)/meshes/shoulder_v0/shoulder_pan.stl" />
    <param name="robot_meshes/shoulder_v0/shoulder_lift.stl" binfile="$(find pr2_description)/meshes/shoulder_v0/shoulder_lift.stl" />
    <param name="robot_meshes/shoulder_v0/upper_arm_roll.stl" binfile="$(find pr2_description)/meshes/shoulder_v0/upper_arm_roll.stl" />
    <param name="robot_meshes/shoulder_v0/upper_arm_roll_L.stl" binfile="$(find pr2_description)/meshes/shoulder_v0/upper_arm_roll_L.stl" />
    <param name="robot_meshes/tilting_laser_v0/tilting_hokuyo_L.stl" binfile="$(find pr2_description)/meshes/tilting_laser_v0/tilting_hokuyo_L.stl" />
    <param name="robot_meshes/torso_v0/torso_lift_L.stl" binfile="$(find pr2_description)/meshes/torso_v0/torso_lift_L.stl" />
    <param name="robot_meshes/upper_arm_v0/upper_arm.stl" binfile="$(find pr2_description)/meshes/upper_arm_v0/upper_arm.stl" />
    <param name="robot_meshes/upper_arm_v0/elbow_flex.stl" binfile="$(find pr2_description)/meshes/upper_arm_v0/elbow_flex.stl" />
    <param name="robot_meshes/upper_arm_v0/forearm_roll.stl" binfile="$(find pr2_description)/meshes/upper_arm_v0/forearm_roll.stl" />
    <param name="robot_meshes/upper_arm_v0/forearm_roll_L.stl" binfile="$(find pr2_description)/meshes/upper_arm_v0/forearm_roll_L.stl" />

    <!-- collada meshes -->
    <param name="robot_meshes/base_v0/base.dae" textfile="$(find pr2_description)/meshes/base_v0/base.dae" />
    <param name="robot_meshes/base_v0/wheel.dae" textfile="$(find pr2_description)/meshes/base_v0/wheel.dae" />
    <param name="robot_meshes/base_v0/wheel_h.dae" textfile="$(find pr2_description)/meshes/base_v0/wheel_h.dae" />
    <param name="robot_meshes/head_v0/head_pan.dae" textfile="$(find pr2_description)/meshes/head_v0/head_pan.dae" />
    <param name="robot_meshes/head_v0/head_tilt.dae" textfile="$(find pr2_description)/meshes/head_v0/head_tilt.dae" />
    <param name="robot_meshes/forearm_v0/forearm.dae" textfile="$(find pr2_description)/meshes/forearm_v0/forearm.dae" />
    <param name="robot_meshes/forearm_v0/wrist_flex.dae" textfile="$(find pr2_description)/meshes/forearm_v0/wrist_flex.dae" />
    <param name="robot_meshes/gripper_v0/gripper_palm.dae" textfile="$(find pr2_description)/meshes/gripper_v0/gripper_palm.dae" />
    <param name="robot_meshes/gripper_v0/l_finger.dae" textfile="$(find pr2_description)/meshes/gripper_v0/l_finger.dae" />
    <param name="robot_meshes/gripper_v0/l_finger_tip.dae" textfile="$(find pr2_description)/meshes/gripper_v0/l_finger_tip.dae" />
    <param name="robot_meshes/gripper_v0/l_float.dae" textfile="$(find pr2_description)/meshes/gripper_v0/l_float.dae" />
    <param name="robot_meshes/shoulder_v0/shoulder_lift.dae" textfile="$(find pr2_description)/meshes/shoulder_v0/shoulder_lift.dae" />
    <param name="robot_meshes/shoulder_v0/shoulder_pan.dae" textfile="$(find pr2_description)/meshes/shoulder_v0/shoulder_pan.dae" />
    <param name="robot_meshes/shoulder_v0/upper_arm_roll.dae" textfile="$(find pr2_description)/meshes/shoulder_v0/upper_arm_roll.dae" />
    <param name="robot_meshes/torso_v0/torso_lift.dae" textfile="$(find pr2_description)/meshes/torso_v0/torso_lift.dae" />
    <param name="robot_meshes/tilting_laser_v0/tilting_hokuyo.dae" textfile="$(find pr2_description)/meshes/tilting_laser_v0/tilting_hokuyo.dae" />
    <param name="robot_meshes/upper_arm_v0/elbow_flex.dae" textfile="$(find pr2_description)/meshes/upper_arm_v0/elbow_flex.dae" />
    <param name="robot_meshes/upper_arm_v0/upper_arm.dae" textfile="$(find pr2_description)/meshes/upper_arm_v0/upper_arm.dae" />

</launch>
